
.container  {
    width: 100%;
    max-width: 100%;
    display: flex;
}

.container .main-content {
    flex: 1;
    padding: 30px;
    color: var(--color-text-primary);
}

.main-content {
    width: auto;
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content .card {
    text-align: center;
}

.entirePage .main-content {
    display: flex;
    flex: 1;
    align-content: center;
    position: fixed;
    top: 1vh;
    left: 50%;
    transform: translate(-50%, 0);
}

.main-content .page-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}

.main-content .card {
    border-radius: 8px;
    padding: 20px;
    background-color: var(--color-bg-sidebar);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.pageContent {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  gap: 16px;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.entirePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.font-bold.orange {
    font-weight: 600;
    color: #695CFE;
}